<div class="bg-white p-6 rounded-lg shadow-lg flex flex-col gap-4 mx-auto">
  <p class="text-xl font-semibold text-gray-800">
    <%= user.first_name %> <%= user.last_name %>
  </p>
  <p class="text-gray-600">
    <%= user.email_address %>
  </p>
</div>

